.selected-icon {
  color: #FFFFFF !important;
}

.selected-bug {
  background-color: #ACC23E !important;
  color: #FFFFFF !important;
}

.selected-dragon {
  background-color: #8572C8 !important;
  color: #FFFFFF !important;
}

.selected-electric {
  background-color: #E7C536 !important;
  color: #FFFFFF !important;
}

.selected-fairy {
  background-color: #E8B0EB !important;
  color: #FFFFFF !important;
}

.selected-fighting {
  background-color: #C45D4C !important;
  color: #FFFFFF !important;
}

.selected-fire {
  background-color: #E87A3D !important;
  color: #FFFFFF !important;
}

.selected-flying {
  background-color: #90AAD7 !important;
  color: #FFFFFF !important;
}

.selected-ghost {
  background-color: #816DB6 !important;
  color: #FFFFFF !important;
}

.selected-grass {
  background-color: #78C850 !important;
  color: #FFFFFF !important;
}

.selected-ground {
  background-color: #CEB250 !important;
  color: #FFFFFF !important;
}

.selected-ice {
  background-color: #81CFD7 !important;
  color: #FFFFFF !important;
}

.selected-normal {
  background-color: #ACAD99 !important;
  color: #FFFFFF !important;
}

.selected-poison {
  background-color: #A040A0 !important;
  color: #FFFFFF !important;
}

.selected-psychic {
  background-color: #E96C95 !important;
  color: #FFFFFF !important;
}

.selected-rock {
  background-color: #BAA85E !important;
  color: #FFFFFF !important;
}

.selected-steel {
  background-color: #9FA9AF !important;
  color: #FFFFFF !important;
}

.selected-water {
  background-color: #639CE4 !important;
  color: #FFFFFF !important;

}